.box{
  width: 900px;
  height: 700px;
  text-align:center;
  margin-bottom: 30px;
}

.zoom {
  bottom: 190px;
}

.zoom-out {
  bottom: 120px;
}

img{
  margin-top: 30px;
  margin-bottom: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: inherit;
}

li:focus {
  outline: none;
}
body {
  user-select: none;
  -moz-user-select: none;
}
.btn:active,
.btn:focus,
.btn:focus:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}
