.box{
  width: 800px;
  height: 700px;
}
.zoom {
  bottom: 190px;
}

.zoom-out {
  bottom: 120px;
}
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
