<table #dataTable class="display" style="width:100%">
  <thead>
  <tr>
    <th *ngFor="let header of headers; let i = index" scope="col">{{header}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tetrad of tetrads; let i = index">
    <th scope="row">{{tetrad.id}}</th>
    <td>{{tetrad.quadruplexId}}</td>
    <td>{{tetrad.pdbId}}</td>
    <td>{{tetrad.assemblyId}}</td>
    <td>{{tetrad.molecule}}</td>
    <td>{{tetrad.sequence}}</td>
    <td>{{tetrad.onz}}</td>
    <td>{{tetrad.select}}</td>
  </tr>
  <tr>
  </tbody>
  <tfoot>
  <tr>
    <th *ngFor="let header of headers; let i = index" scope="col">{{header}}</th>
  </tr>
  </tfoot>
</table>
