<div class="container" *ngIf="data">
  <main>
    <div class="description">
      <div class="text-rectangle">
        <h2>Helix description</h2>
      </div>

      <br />
      <div class="row ">
        <div class="col-lg-10 col-sm-6">
          <h5><b>Helix ID: H{{data.id}}</b></h5>
        </div>

        <div class=" col-lg-2 col-sm-6 saveDataButton">

        <a class="mat-button" (click) = saveZip()>Save tables</a>

        </div>
      </div>


      <div class="col tetradtable">
        <table class="table" style="border:1px solid black;"  >
          <thead>
            <tr>
              <!-- <th>PDB</th> -->
              <th style="text-align: center; vertical-align: middle;">Assembly ID</th>
              <th style="text-align: center; vertical-align: middle;">Molecule</th>
              <th style="text-align: center; vertical-align: middle;">Experimental method</th>
              <th style="text-align: center; vertical-align: middle;">No. of strands</th>
              <th style="text-align: center; vertical-align: middle;">No. of quadruplexes</th>
              <th style="text-align: center; vertical-align: middle;">No. of tetrads</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <td><a target="_blank" rel="noopener noreferrer" href="https://www.rcsb.org/structure/{{data.pdbId}}">{{data.pdbId}}</a></td> -->
              <td style="text-align: center; vertical-align: middle;">{{data.assemblyId}}</td>
              <td style="text-align: center; vertical-align: middle;">{{data.molecule}}</td>
              <td style="text-align: center; vertical-align: middle;">{{data.experiment}}</td>
              <td style="text-align: center; vertical-align: middle;">{{data.numberOfStrands}}</td>
              <td style="text-align: center; vertical-align: middle;">{{data.numberOfQudaruplexes}}</td>
              <td style="text-align: center; vertical-align: middle;">{{data.numberOfTetrads}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <br />
      <div class="row ">
        <div class="col-lg-10 col-sm-6">
          <h5>Component quadruplexes:</h5>
        </div>
      </div>
      <table class="table" style="border:1px solid black;">
        <thead>
          <tr>
            <th style="text-align: center; vertical-align: middle;">Quadruplex ID</th>
            <th style="text-align: center; vertical-align: middle;">Sequence</th>
            <th style="text-align: center; vertical-align: middle;">ONZ Class</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of quadruplexes">
            <td style="text-align: center; vertical-align: middle;"><a [routerLink]="['/quadruplex', q.id]">Q{{q.id}}</a></td>
            <td style="text-align: center; vertical-align: middle;">{{q.sequence}}</td>
            <td style="text-align: center; vertical-align: middle;">{{q.onzmClass}}</td>
          </tr>
        </tbody>
      </table>


      <br />

      <div class="row ">
        <div class="col-lg-10 col-sm-6">
          <h5>Component tetrads:</h5>
        </div>
      </div>


      <table class="table" style="border:1px solid black;">
        <thead>
          <tr>
            <th style="text-align: center; vertical-align: middle;">Tetrad ID</th>
            <th style="text-align: center; vertical-align: middle;">Sequence</th>
            <th style="text-align: center; vertical-align: middle;">ONZ Class</th>
            <th style="text-align: center; vertical-align: middle;">Planarity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tetrads">
            <td style="text-align: center; vertical-align: middle;">
              <a [routerLink]="['/tetrad', t.id]">
                T{{t.id}}
              </a>
            </td>
            <td style="text-align: center; vertical-align: middle;">{{t.sequence}}</td>
            <td style="text-align: center; vertical-align: middle;">{{t.onzClass}}</td>
            <td style="text-align: center; vertical-align: middle;">{{t.planarity}}</td>
          </tr>
        </tbody>
      </table>


      <br />

    <h5>Component tetrads pair:</h5>

    <div class="col quadruplextable">
      <table class="table" style="border:1px solid black;">
        <thead>
          <tr>
            <th style="text-align: center; vertical-align: middle;">Tetrad ID</th>
            <th style="text-align: center; vertical-align: middle;">Twist</th>
            <th style="text-align: center; vertical-align: middle;">Rise</th>
            <th style="text-align: center; vertical-align: middle;">Strand direction</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let t of tetrads">
            <td
              style="text-align: center; vertical-align: middle;"
              *ngIf="t.tetrad2_id != 0">
              <a [routerLink]="['/tetrad', t.id]">
                T{{t.id}}
              </a>
              -
              <a [routerLink]="['/tetrad', t.tetrad2_id]">
                T{{t.tetrad2_id}}
              </a>
            </td>
            <td style="text-align: center; vertical-align: middle;" *ngIf="t.tetrad2_id != 0 ">{{t.twist | number: '1.0-2'}}</td>
            <td style="text-align: center; vertical-align: middle;" *ngIf="t.tetrad2_id != 0 ">{{t.rise | number: '1.0-2'}}</td>
            <td style="text-align: center; vertical-align: middle;" *ngIf="t.tetrad2_id != 0 ">{{t.direction}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />

</div>
  </main>
</div>

