@media screen and (max-width: 600px) {
.quadruplextable {
  max-width: 100%;
  overflow-x: scroll;
}
}

.mat-table {
  overflow: auto;
  /*max-height: 500px;*/
}

.mobile-label {
  display: none;
}

.cdk-column-select {
  border: none;
}

@media(max-width: 600px) {
  .mat-cell:first-child {
    /*padding-left: 0;*/
  }

  .mat-header-row {
    /*display: none;*/
  }
  .mat-header-cell {
    width: 90px;
  }
  .mat-cell {
    overflow:scroll;
  }

  .mat-table {
    display: flex;
    flex-wrap: wrap;
  }

  .mat-row {
    overflow: auto;
    min-width: 850px;
    /*flex: 1 0 100%;
    align-items: start;
    padding: 8px 10px;*/
  }

  .mobile-label {
    /*display: none;
    font-weight: normal;*/
  }
}

.container {
  min-height: 100%;
  text-align: left;
}

main {
  margin-top: 10px;
  height: auto;
  padding-top: 20px;
}

.table {
  margin-top: 40px;
  padding: 15px;
  text-align: left;
  width: 100%;
}

.fourColumnsStyle {
  width: 25% ;
}

.threeColumnsStyle {
  width: 33.3%
}

.sevenColumnsStyle {
  width: 14.28%;
}

.text-rectangle {
  text-align: center;
  background-color: #45A29E;
  color: white;
  margin-top: 10px;
  padding: 5px;
}

p {
  font-size: large;
  line-height: 1.5;
  margin: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #d6d8db;
}

.p2{
  font-size: large;
  line-height: 1.5;
  margin: 5px;
  text-align: center;
}

a {
  color: #45A29E;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.inputtext {
  display: inline-block;
  margin-right: 550px;
  margin-left: 5px;
}

.statictext {
  display: inline-block;
  margin-right: 20px;
}

button {
  margin: 20px;
  width: 200px;
  height: 50px;
  background-color: #45A29E;
  color: white;
}

.lists {
  margin-top: 20px;
}

.saveDataButton {
  text-align: right;
}

a.mat-button {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: lightgrey;
  color: black;
  padding: 3px;
}

.hasTooltip span {
  display: none;
  color: #000;
  text-decoration: none;
  padding: 5px 0;
}

.hasTooltip:hover span {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid #CCC;
  margin: 2px 10px;
  padding: 5px 0;
  z-index: 50;
}
