<div style=" background: #F0F0F0; height: 100%">
<div class="container" *ngIf="data">
  <main>
    <div class="description">
      <div class="text-rectangle">
        <h2>G4Helix description</h2>
      </div>
      <div style="visibility: hidden; width: 0; height: 0 "
           [innerHTML]="svg_arc"
      ></div>
      <div style="visibility: hidden; width: 0; height: 0 "
           [innerHTML]="svg_varna"
      ></div>
      <br />

      <mat-card>
        <mat-card-content>
      <div class="row ">
        <div class="col-lg-10 col-sm-6">
          <h5><b>G4Helix ID: H{{data.id_updated}}</b></h5>
        </div>

        <div class=" col-lg-2 col-sm-6 saveDataButton">

        <a class="mat-button" (click) = saveZip()>Save tables</a>
        </div>
      </div>

      <div class="helixtable">
        <table class="table" style="border:1px solid black;"  >
          <thead>
            <tr >
              <!-- <th>PDB</th> -->
              <th class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">PDB ID</th>
              <th class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">Assembly ID</th>
              <th class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">Molecule</th>
              <th class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">Experimental method</th>
              <th class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">Type (by no. of strands)</th>
              <th class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">No. of quadruplexes</th>
              <th class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">No. of tetrads</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class = sevenColumnsStyle style="text-align: center; vertical-align: middle;" ><a class = "hasTooltip" target="_blank" rel="noopener noreferrer" href="https://www.rcsb.org/structure/{{data.pdbIdentifier}}">{{data.pdbIdentifier}}  <span> <img src = "qbase-static/{{data.pdbIdentifier}}-1.png" width="200" height="150"  alt=""> </span> </a></td>
              <td class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">{{data.assemblyId}}</td>
              <td class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">{{data.molecule}}</td>
              <td class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">{{data.experiment}}</td>
              <td class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">{{data.numberOfStrands}}</td>
              <td class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">{{data.numberOfQudaruplexes}}</td>
              <td class = "sevenColumnsStyle" style="text-align: center; vertical-align: middle;">{{data.numberOfTetrads}}</td>
            </tr>
          </tbody>
        </table>
      </div>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card>
        <mat-card-content>
      <div>
        <h5> 2D structure (dot-bracket):</h5>
        <p class="dotbracket">{{data.dot_bracket}}</p>
      </div>


      <div class="helixtable">
        <table class="table" style="border:1px solid black;">
          <tr>
            <td class = threeColumnsStyle_str style="text-align: center; vertical-align: middle;">
              <button (click)="showVarna()" title="Click to see 2D structure"> 2D structure (VARNA)</button>
            </td>
            <td class = threeColumnsStyle_str style="text-align: center; vertical-align: middle;">
              <button (click)="showDiagram()" title="Click to see 2D structure"> 2D structure (R-chie)</button>
            </td>
            <td class = threeColumnsStyle_str style="text-align: center; vertical-align: middle;">
              <button (click)="showStructure()" title="Click to see 3D structure"> 3D structure (LiteMol)</button>
            </td>
          </tr>
          <tr>
            <td class = threeColumnsStyle_str style="text-align: center; vertical-align: middle;">
              <div [innerHTML]="svg_varna_icon"> </div>
            </td>
            <td class = threeColumnsStyle_str style="text-align: center; vertical-align: middle;">
              <div [innerHTML]="svg_arc_icon"></div>
            </td>
            <td class = threeColumnsStyle_str style="text-align: center; vertical-align: middle;">
              <img src = "qbase-static/H{{data.id}}.png" width="200" height="150"  alt="">
            </td>
          </tr>
        </table>
      </div>
        </mat-card-content>
      </mat-card>
      <br />

      <mat-card>
        <mat-card-content>
      <div class="row ">
        <div class="col-lg-10 col-sm-6">
          <h5>Quadruplexes in H{{data.id_updated}}:</h5>
        </div>
      </div>
      <table class="table" style="border:1px solid black;">
        <thead>
          <tr>
            <th class = "threeColumnsStyle" style="text-align: center; vertical-align: middle;">Quadruplex ID</th>
            <th class = "threeColumnsStyle" style = "text-align: center; vertical-align: middle;">Sequence</th>
            <th class = "threeColumnsStyle" style = "text-align: center; vertical-align: middle;">ONZM Class</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of quadruplexes">
            <td class = "threeColumnsStyle" style="text-align: center; vertical-align: middle;">
              <a class = "hasTooltip" [routerLink]="['/quadruplex', q.id]">Q{{q.id}}
                <span> <img src = "qbase-static/Q{{q.id}}.png" width="200" height="150"  alt=""> </span>
            </a></td>
            <td class = "threeColumnsStyle" style="text-align: center; vertical-align: middle;">{{q.sequence}}</td>
            <td class = "threeColumnsStyle" style="text-align: center; vertical-align: middle;">{{q.onzmClass}}</td>
          </tr>
        </tbody>
      </table>

        </mat-card-content>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-content>
      <div class="row ">
        <div class="col-lg-10 col-sm-6">
          <h5>Tetrads in H{{data.id_updated}}:</h5>
        </div>
      </div>
      <table class="table" style="border:1px solid black;">
        <thead>
          <tr>
            <th class="fiveColumnsStyle"  style="text-align: center; vertical-align: middle;">Tetrad ID</th>
            <th class="fiveColumnsStyle"  style="text-align: center; vertical-align: middle;">Quadruplex ID</th>
            <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">Sequence</th>
            <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">ONZ Class</th>
            <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">Planarity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tetrads">
            <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">
              <a class = "hasTooltip"[routerLink]="['/tetrad', t.id]">
                T{{t.id}} <span> <img src = "qbase-static/T{{t.id}}.png" width="100" height="100"  alt=""> </span>
              </a>
            </td>
            <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">
              <a class = "hasTooltip"[routerLink]="['/quadruplex', t.quadruplex_id]">
                Q{{t.quadruplex_id}} <span> <img src = "qbase-static/Q{{t.quadruplex_id}}.png"width="200" height="150" alt=""> </span>
              </a>
            </td>
            <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">{{t.sequence}}</td>
            <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">{{t.onzClass}}</td>
            <td class = fiveColumnsStyle  style="text-align: center; vertical-align: middle;">{{setTwoNumberDecimal(t.planarity)}}</td>
          </tr>
        </tbody>
      </table>

        </mat-card-content>
      </mat-card>

      <br />

      <mat-card>
        <mat-card-content>
    <h5>Tetrad pairs in H{{data.id_updated}}:</h5>

    <div class="quadruplextable">
      <table class="table" style="border:1px solid black;">
        <thead>
          <tr>
            <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">Tetrad pairs</th>
            <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">Quadruplex ID</th>
            <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">Twist</th>
            <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">Rise</th>
            <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">Strand direction</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let t of tetradsPairsInformation">

            <td
              class="fiveColumnsStyle"
              style="text-align: center; vertical-align: middle;"
              *ngIf="t.TetradPairId != 0">
              <a class= "hasTooltip" [routerLink]="['/tetrad', t.TetradPairId]">
                T{{t.TetradPairId}}  <span> <img src = "qbase-static/T{{t.TetradPairId}}.png" width="100" height="100"  alt=""> </span>
              </a>
              -
              <a  class = "hasTooltip" [routerLink]="['/tetrad', t.TetradId]">
                T{{t.TetradId}}  <span> <img src = "qbase-static/T{{t.TetradId}}.png" width="100" height="100" alt=""> </span>
              </a>
            </td>


            <td *ngIf="t.quadruplex_id != 0 && t.TetradPairId != 0" class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;">
              <a class = "hasTooltip"[routerLink]="['/quadruplex', t.quadruplex_id]">
                Q{{t.quadruplex_id}} <span> <img src = "qbase-static/Q{{t.quadruplex_id}}.png" width="200" height="150" alt=""> </span>
              </a>
            </td>

            <td *ngIf="t.quadruplex_id == 0 && t.TetradPairId != 0" class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;" >-</td>
            <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;" *ngIf="t.TetradPairId != 0 ">{{t.twist | number: '1.0-2'}}</td>
            <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;" *ngIf="t.TetradPairId != 0 ">{{t.rise | number: '1.0-2'}}</td>
            <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle;" *ngIf="t.TetradPairId != 0 ">{{t.direction}}</td>
          </tr>
        </tbody>
      </table>
    </div>
        </mat-card-content>
      </mat-card>
      <br>
    </div>
  </main>
</div>
</div>
