<div class="container" *ngIf="data">
  <main>
    <div class="description">
      <div class="text-rectangle">
        <h2>Helix description</h2>
      </div>

      <br />
      <div class="row ">
        <div class="col-lg-10 col-sm-6">
          <h5><b>Helix ID: H{{data.id}}</b></h5>
        </div>

        <div class=" col-lg-2 col-sm-6 saveDataButton">

        <a class="mat-button" (click) = saveZip()>Save tables</a>

        </div>
      </div>

      <br />

      <div class="col tetradtable">
        <table class="table" style="border:1px solid black;"  >
          <thead>
            <tr>
              <!-- <th>PDB</th> -->
              <th>Assembly ID</th>
              <th>Molecule</th>
              <th>Experimental method</th>
              <th>No. of strands</th>
              <th>No. of quadruplexes</th>
              <th>No. of tetrads</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <td><a target="_blank" rel="noopener noreferrer" href="https://www.rcsb.org/structure/{{data.pdbId}}">{{data.pdbId}}</a></td> -->
              <td>{{data.assemblyId}}</td>
              <td>{{data.molecule}}</td>
              <td>{{data.experiment}}</td>
              <td>{{data.numberOfStrands}}</td>
              <td>{{data.numberOfQudaruplexes}}</td>
              <td>{{data.numberOfTetrads}}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <br />
      <div class="row ">
        <div class="col-lg-10 col-sm-6">
          <h5>Component quadruplexes:</h5>
        </div>
      </div>
      <br />
      <table class="table" style="border:1px solid black;">
        <thead>
          <tr>
            <th>Quadruplex ID</th>
            <th>Sequence</th>
            <th>ONZ Class</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of quadruplexes">
            <td><a [routerLink]="['/quadruplex', q.id]">Q{{q.id}}</a></td>
            <td>{{q.sequence}}</td>
            <td>{{q.onzmClass}}</td>
          </tr>
        </tbody>
      </table>

      <br />
      <div class="row ">
        <div class="col-lg-10 col-sm-6">
          <h5>Component tetrads:</h5>
        </div>
      </div>
      <br />


      <table class="table" style="border:1px solid black;">
        <thead>
          <tr>
            <th>Tetrad ID</th>
            <th>Sequence</th>
            <th>ONZ Class</th>
            <th>Planarity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tetrads">
            <td>
              <a [routerLink]="['/tetrad', t.id]">
                T{{t.id}}
              </a>
            </td>
            <td>{{t.sequence}}</td>
            <td>{{t.onzClass}}</td>
            <td>{{t.planarity}}</td>
          </tr>
        </tbody>
      </table>
    <br />


    <h5>Component tetrads pair:</h5>
    <br />
    <div class="col quadruplextable">
      <table class="table" style="border:1px solid black;">
        <thead>
          <tr>
            <th>Tetrad ID</th>
            <th>Twist</th>
            <th>Rise</th>
            <th>Strand direction</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let t of tetrads">
            <td *ngIf="t.tetrad2_id != 0">
              <a [routerLink]="['/tetrad', t.id]">
                T{{t.id}}
              </a>
              -
              <a [routerLink]="['/tetrad', t.tetrad2_id]">
                T{{t.tetrad2_id}}
              </a>
            </td>
            <td *ngIf="t.tetrad2_id != 0 ">{{t.twist | number: '1.0-2'}}</td>
            <td *ngIf="t.tetrad2_id != 0 ">{{t.rise | number: '1.0-2'}}</td>
            <td *ngIf="t.tetrad2_id != 0 ">{{t.direction}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />
    <br />
</div>
  </main>
</div>

