#parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: rgba(184, 224, 222, 0.4);
  border-radius: 15px 15px 15px 15px;
  margin: 5px;
  cursor: pointer;
}

  #parent > div {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    user-select: none;
  }

.clicked {
  background-color: rgba(72, 173, 169, 1) !important;
}

  .clicked > div {
    color: white !important;
    font-weight: 400;
  }
