#parent {
  display: flex;
  background-color: rgba(184, 224, 222, 0.4);
  border-radius: 15px 15px 15px 15px;
  margin: 5px;
  cursor: pointer;
}
  #parent.struct {
    background-color: rgba(184, 224, 222, 0.4);
  }

  #parent.meta {
    background-color: rgba(254, 234, 172, 0.35);
  }

  #parent > div {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
  }

.clicked.struct {
  background-color: rgba(72, 173, 169, 1) !important;
}

.clicked.meta {
  background-color: rgba(239, 217, 99, 1) !important;
}

  .clicked > div {
    color: white !important;
    font-weight: 400;
  }
