.mat-table {
overflow: auto;
/*max-height: 500px;*/
}

.mobile-label {
display: none;
}

.cdk-column-select {
border: none;
}

@media(max-width: 600px) {
.mat-cell:first-child {
  /*padding-left: 0;*/
}

.mat-header-row {
  /*display: none;*/

}
.mat-header-cell{
  width:85px;
}

.mat-cell {
  overflow: scroll;
}

.mat-table {
  display: flex;
  flex-wrap: wrap;
}

.mat-row {
  overflow: auto;
  min-width: 640px;
  /*flex: 1 0 100%;
  align-items: start;
  padding: 8px 10px;*/
}

.mobile-label {
  /*display: none;
  font-weight: normal;*/
}
}

.container {
max-width: 100%;
min-height: 100%;
display: flex;
flex-direction: column;
}

main {
margin-top: 10px;
height: auto;
}

.table {
margin-top: 40px;
padding: 15px;
text-align: left;
}

.text-rectangle {
text-align: center;
color: #45A29E;
margin-top: 10px;
padding: 5px;
}

p {
font-size: large;
line-height: 1.5;
margin: 5px;
}

a {
color: #45A29E;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.mat-button {
border-style: solid;
border-width: 2px;
margin: 5px;
border-radius: 5px;
background-color: #45A29E;
color: white;
display: inline-block;
  
}
/* Tooltip container */
.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.inputtext {
display: inline-block;
margin-right: 550px;
margin-left: 5px;
}
.statictext {
display: inline-block;
margin-right: 20px;
  
}
@media(max-width: 1024px) {
.inputtext {
  display: inline-block;
  margin-right: 50px;
  margin-left: 5px;
}

.statictext {
  display: inline-block;
  margin-right: 50px;
}
}
