<div class="container">
  <main>
    <div class="description">
      <div class="text-rectangle">
        <h2>Tetrad description</h2>
      </div>


      <br />
      <b><h5>Tetrad ID: {{data.id}}</h5></b>

      <br />

      <div class="col tetradtable">
        <table class="table">
          <thead>
            <tr>
              <th>Quadruplex ID</th>
              <th>PDB ID</th>
              <th>Assembly ID</th>
              <th>Molecule</th>
              <th>Experimental method</th>
              <th>Planarity</th>
              <th>ONZ class</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><a [routerLink]="['/quadruplex', data.id]">{{data.quadruplexId}}</a></td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://www.rcsb.org/structure/{{data.pdbId}}">{{data.pdbId}}</a></td>
                <td>{{data.assemblyId}}</td>
                <td>{{data.assemblyId}}</td>
                <td>{{data.experiment}}</td>
                <td>{{data.planarity}}</td>
                <td>{{data.onzClass}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <br />
      <h5>Sequence:</h5>
      <p>{{data.sequence}}</p>


      <h5>Secondary structure:</h5>

      <div class="row">
        <button (click)="showStructure()">Dot-bracket encoding</button>
        <button (click)="showStructure()">Arc diagram</button>
      </div>

      <h5>3D structure:</h5>
      <div class="row">
        <button (click)="showStructure()">View</button>
      </div>

      <div class="lists">
        <div class="list">
          <p>
            Number of tetrads in quadruplex {{data.quadruplexId}}: <b>{{data.tetradsInTheSameQuadruplex.length + 1}}</b>
          </p>
        </div>

        <div class="list">
          <p>
            Other tetrads in this quadruplex:
            <a *ngFor="let t of data.tetradsInTheSameQuadruplex" [routerLink]="['/tetrad', t]">{{t}} </a>
          </p>
        </div>

        <div class="lists">
          <div class="list">
            <p>
              Number of tetrads in structure {{data.pdbId}}: <b>{{data.tetradsInTheSamePdb.length + 1}}</b>
            </p>
          </div>

          <div class="list">
            <p>
              Other tetrads in this structure:
              <a *ngFor="let t of data.tetradsInTheSamePdb" [routerLink]="['/tetrad', t]">{{t}} </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
