
<div style="  background: #F0F0F0; height: 100%">
  <div class="container">
    <main>
      <div class="text-rectangle">
        <h2>Unsubscribe</h2>
      </div>
      <br>
      <mat-card>
        <mat-card-content>
          <h3 style="text-align:center; "> Thank you. </h3>
          <p align="justify" style="text-align:center; ">
            You have been unsubscribed from ONQUADRO newsletter.
          </p>
        </mat-card-content>
      </mat-card>

    </main>

  </div>
</div>

<div class="container">
  <main>
    <br />
    <br />
    <div class="description">
      <h1 style="text-align:center">Unsubscribe</h1>
      <br />
      <br />
      <br />
      <br />
    </div>
  </main>
</div>

