#parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: fit-content;
  background-color: rgba(82, 183, 179, 0.3);
  border-radius: 10px 10px 10px 10px;
}

  #parent > div {
    width: fit-content;
    height: fit-content;
    padding: 6px;
  }

.struct {
  background-color: rgba(82, 183, 179, 0.3) !important;
}

.meta {
  background-color: rgba(255, 230, 153, 0.6) !important;
}
