<nav class="navbar fixed-top navbar-expand-md navbar-dark">
  <div class="container">
    <a class="navbar-brand" target="_blank" href="https://www.put.poznan.pl/en/"><img class="logoPP" src="home/PP-PUT_logo_pelne.png" /></a>
    <a class="navbar-brand" target="_blank" href="https://www.ibch.poznan.pl/en.html"><img class="logoIchb" src="home/logo-ICHB PAN EN kolor.png" /></a>
    <a class="navbar-brand" [routerLink]="['/']">ONQUADRO</a>
    <button class="navbar-toggler" type="button" (click)="toggle()" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ show: isExpanded }" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" (click)="toggle()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/search']" (click)="toggle()">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/statistics']" (click)="toggle()">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/help']" (click)="toggle()">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" (click)="toggle()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/citeUs']" (click)="toggle()">Cite us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
