<div class="container">
  <main>
    <div class="text-rectangle">
      <h1>About</h1>
    </div>
    <p>
      Quadruplexes are characteristic tertiary structure motifs that form in
      nucleic acids. They participate in various biological processes and they
      are promising therapeutic targets in many strategies of drug development
    </p>
    <p>
      Here, we present a database of tetrads and quadruplexes found in
      PDB-deposited structures. We show their assignment to ONZ categories,
      unique dot-bracket encoding, and arc diagrams. Both dot-bracket and
      graphical representations are adjusted to ONZ taxonomy which is based on
      the secondary structure topology and allows to classify canonical and
      non-canonical quadruplexes found in unimolecular structures.
    </p>
    <div class="text-rectangle">
      <h1>Authors</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 photo">
        <img class="picture" src="TomaszZok.jpg" />
        <p class="description">Tomasz Zok (1,2)</p>
      </div>
      <div class="col-lg-4 col-sm-6 photo">
        <img class="picture" src="PaulinaPielacinska.jpg" />
        <p class="description">PaulinaPielacinska (1)</p>
      </div>
      <div class="col-lg-4 col-sm-6 photo">
        <img class="picture" src="JoannaMiskiewicz.jpg" />
        <p class="description">Joanna Miskiewicz (1)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-5 photo">
        <img class="picture" src="MariuszPopenda.jpg" />
        <p class="description">Mariusz Popenda (3)</p>
      </div>
      <div class="col-lg-4 col-sm-6 photo">
        <img class="picture" src="MartaSzachniuk.jpg" />
        <p class="description">Marta Szachniuk (1,3)</p>
      </div>
    </div>
    <a href="http://www2.cs.put.poznan.pl/en/">
      <p>
        1. Institute of Computing Science & European Centre for Bioinformatics and
        Genomics, Poznan University of Technology, Poznan Poland
      </p>
    </a>
    <a href="http://www.man.poznan.pl/online/en/">
      <p>
         2. Poznan Supercomputing and Networking Center, Poznan, Poland
      </p>
    </a>
    <a href="https://www.ibch.poznan.pl/en/home/">
      <p>
        3. Institute of Bioorganic Chemistry, Polish Academy of Sciences, Poznan,Poland
      </p>
    </a>
    <div class="text-rectangle">
      <h1>Acknowledgements and Funding</h1>
    </div>
    <p>
      This project has been supported by the National Science Centre, Poland,
      under grant OPUS 2016/23/B/ST6/03931 (2017-2020).
    </p>
  </main>

</div>
