body {
}
.container {
  min-height: 100%
}
main {
  padding-top: 30px;
  height: auto;
}
.text-rectangle {
  text-align: center;
  background-color: #45A29E;
  color: white;
  margin-top: 10px;
  padding: 5px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin: 2px;
}
.photo {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 2%;
  width: 160px;
  height: 180px;
  text-align: center;
  align-content: center;
  position: relative;
  flex-direction: column;
}
.row{
  justify-content: center;
}
img {
  width: 160px;
  height: 180px;
}
.description {
  margin-bottom: 30px;
  text-align: center;
  font-size: large;
}
a {
  color: #45A29E;
}
