<div style="  background: #F0F0F0;" >

<div class="container">
  <main>
    <div class="text-rectangle">
      <h2>About</h2>
    </div>
    <br>
    <mat-card>
      <mat-card-content>
    <p align="justify">
      Quadruplexes are characteristic tertiary structure motifs that form in
      nucleic acids. They participate in various biological processes and they
      are promising therapeutic targets in many strategies of drug development.
    </p>
    <p align="justify">
      Here, we present a database of tetrads and quadruplexes found in
      PDB-deposited structures. We show their structure parameters, assignment to ONZ categories, unique
      dot-bracket encoding, and arc diagrams. Both dot-bracket and
      graphical representations are adjusted to ONZ taxonomy which is based on
      the secondary structure topology and allows to classify canonical and
      non-canonical quadruplexes found in unimolecular structures.
    </p>
      </mat-card-content>
    </mat-card>


    <div class="text-rectangle">
      <h2>Authors</h2>
    </div>

    <br>
    <mat-card>
      <mat-card-content>

    <div class="row">
      <div class="col-sm photo">
        <img src="TomaszZok.jpg" />
        <p class="description">Tomasz Zok (1,2)</p>
      </div>
      <div class="col-sm photo">
        <img src="PaulinaPielacinska.jpg" />
        <p class="description">Paulina Pielacinska (1)</p>
      </div>
      <div class="col-sm photo">
        <img src="JoannaMiskiewicz.jpg" />
        <p class="description">Joanna Miskiewicz (1)</p>
      </div>
      <div class="col-sm photo">
        <img src="NataliaKraszewska.jpg" />
        <p class="description">Natalia Kraszewska (1)</p>
      </div>
      <div class="col-sm photo">
        <img src="MartaSzachniuk.jpg" />
        <p class="description">Marta Szachniuk (1,3)</p>
      </div>
    </div>

        <div style="margin-top: 70px">
    <p>
      1. <a href="http://www2.cs.put.poznan.pl/en/" target="_blank" rel="noopener noreferrer">Institute of Computing Science</a>, <a href="http://ecbig.pl/" target="_blank" rel="noopener noreferrer">European Centre for Bioinformatics and Genomics</a>, <a href="https://www.put.poznan.pl" target="_blank" rel="noopener noreferrer">Poznan University of Technology</a>, Poland
    </p>

    <p>
      2. <a href="http://www.man.poznan.pl/online/en/" target="_blank" rel="noopener noreferrer">Poznan Supercomputing and Networking Center</a>, Poland
    </p>


    <p>
      3. <a href="https://www.ibch.poznan.pl/en/home/" target="_blank" rel="noopener noreferrer">Institute of Bioorganic Chemistry</a>,
      <a href="https://institution.pan.pl/" target="_blank" rel="noopener noreferrer">Polish Academy of Sciences</a>, Poznan Poland.
    </p>

        </div>
      </mat-card-content>
    </mat-card>


    <div class="text-rectangle">
      <h2>Acknowledgements and Funding</h2>
    </div>
    <br>
    <mat-card>
      <mat-card-content>
    <p align="justify">
      This project has been supported by the National Science Centre, Poland,
      under grants: 2016/23/B/ST6/03931 (2017-2020) and 2019/35/B/ST6/03074
      (2020-2022).
    </p>
      </mat-card-content>
    </mat-card>
  </main>

</div>
</div>
