<div style="background: #f0f0f0; height: 100%">
  <div class="container">
    <main>
      <div class="text-rectangle">
        <h2>ONQUADRO</h2>
      </div>
      <mat-card>
        <mat-card class="search-table mat-elevation-z2">
          <app-tooltip-button></app-tooltip-button>
          <div class="header">
            <div>
              Search the table
            </div>
          </div>
          <mat-card-content>
            <div class="search-container mat-elevation-z0">
              <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="attribute">
                  <mat-header-cell *matHeaderCellDef>Attribute</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-attribute-cell [content]="element.attribute" [name]="element.attribute"></app-attribute-cell>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="conditions">
                  <mat-header-cell *matHeaderCellDef>Conditions</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <ng-container *ngIf="!element.addable">
                      <app-row-cond-nonaddable [rowName] = "element.attribute" [rowElements] = "element"></app-row-cond-nonaddable>
                    </ng-container>
                    <ng-container *ngIf="element.addable">
                      <app-row-cond-addable [rowName]="element.attribute" [rowElements]="element"></app-row-cond-addable>
                    </ng-container>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <div class="buttonRow">
                <app-button [label]="buttonLabelReset"></app-button>
                <app-button [label]="buttonLabelSearch"></app-button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card>
    </main>
  </div>
</div>
