<div style="background: #f0f0f0; height: 100%">
  <div class="container">
    <main>
      <div class="text-rectangle">
        <h2>ONQUADRO</h2>
      </div>
      <mat-card>
        <mat-card class="search-table mat-elevation-z2">
          <div class="icon">
            <button mat-icon-button>
              ?
            </button>
          </div>
          <div class="header">
            <div>
              Search the table
            </div>
          </div>
          <mat-card-content>
            <div class="search-container mat-elevation-z0">
              <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="attribute">
                  <mat-header-cell *matHeaderCellDef>Attribute</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-attribute-cell [content] = "element.attribute" [name] ="element.attribute"></app-attribute-cell>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="conditions">
                  <mat-header-cell *matHeaderCellDef>Conditions</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <ng-container *ngIf="!element.isOperator && !element.addable">
                      <app-cond-clickable-cell *ngFor="let cond of element.conditions" [name]="element.attribute" [content]="cond.condition"></app-cond-clickable-cell>
                    </ng-container>
                    <ng-container *ngIf="!element.isOperator && element.addable">
                      <app-cond-cell *ngFor="let cond of element.conditions" [name] ="element.attribute" [content] ="cond.condition"></app-cond-cell>
                    </ng-container>
                    <ng-container *ngIf="element.isOperator && element.attribute !== 'Sequence'">
                      <app-cond-operator-cell *ngFor="let cond of element.conditions" [name] ="element.attribute" [content] = "cond.condition" [operator] ="cond.operator" ></app-cond-operator-cell>
                    </ng-container>
                    <ng-container *ngIf="element.isOperator && element.attribute === 'Sequence'">
                      <app-cond-seq-cell *ngFor="let cond of element.conditions" [name] = "element.attribute" [content] = "cond.condition" [operator] = "cond.operator"></app-cond-seq-cell>
                    </ng-container>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="addable">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-add-button *ngIf="element.addable" [content] = "addableContent" [name] ="element.attribute"></app-add-button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <div class="buttonRow">
                <div class="buttonReset"><button mat-flat-button>Reset</button></div>
                <div class="buttonSearch"><button mat-flat-button>Search</button></div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card>
    </main>
  </div>
</div>
