@import url('https://rsms.me/inter/inter.css');

.container {
  min-height: 100%
}

main {
  padding-bottom: 100px;
  padding-top: 30px;
}

.text-rectangle {
  text-align: center;
  background-color: #45a29e;
  color: white;
  margin-top: 10px;
  padding: 5px;
}

.search-table {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px 15px 15px 15px;
}

.search-container {
  padding-left: 10%;
  padding-right: 10%;
}

.mat-header-cell {
  font-size: 18px;
  font-weight: bold;
}

.mat-row {
  border-top: 1px solid rgba(85, 180, 176, 1);
  border-bottom: 0px;
}

.mat-column-attribute {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 0 0 130px;
  padding: 5px;
}

.mat-column-conditions {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 10px;
  align-self: stretch;
  border-left: 1px solid;
  border-color: rgba(85, 180, 176, 1);
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.mat-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}
