.container {
  min-height: 540px;
}

main {
  margin-top: 10px;
  height: auto;
}
.text-rectangle {
  text-align: center;
  color: #45A29E;
  margin-top: 10px;
  padding: 5px;
}

p {
  font-size: x-large;
  line-height: 1.5;
  margin: 5px;
}
.table {
  margin-top: 40px;
  padding: 15px;
}
a {
  color: #45A29E;
}
