.mat-table {
  overflow: auto;
  /*max-height: 500px;*/
}

.mobile-label {
  display: none;
}

.cdk-column-select {
  border: none;
}

@media(max-width: 600px) {
  .mat-cell:first-child {
    /*padding-left: 0;*/
  }

  .mat-header-row {
    /*display: none;*/
  }
  .mat-header-cell {
    width: 95px;
  }
  .mat-cell {
    overflow: scroll;
    padding-left: 15px;
  }

  .mat-table {
    display: flex;
    flex-wrap: wrap;
  }

  .mat-row {
    overflow: auto;
    min-width: 800px;
    flex-wrap: wrap;

    /*flex: 1 0 100%;
    align-items: start;
    padding: 8px 10px;*/
  }

  .mobile-label {
    /*display: none;
    font-weight: normal;*/
  }
}

.container {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 10px;
  height: auto;
}

.text-rectangle {
  text-align: center;
  color: #45A29E;
  margin-top: 10px;
  padding: 5px;
}

p {
  font-size: x-large;
  line-height: 1.5;
  margin: 5px;
}

.table {
  margin-top: 40px;
  padding: 15px;
  text-align: left;
}

a {
  color: #45A29E;
}

  a.disabled {
    pointer-events: none;
    cursor: default;
  }

.mat-button {
  border-style: solid;
  border-width: 2px;
  margin: 5px;
  border-radius: 5px;
  background-color: #45A29E;
  color: white;
}
.inputtext {
  display: inline-block;
  margin-right: 550px;
  margin-left: 5px;
}

.statictext {
  display: inline-block;
  margin-right: 20px;
}

@media(max-width: 1024px) {
  .inputtext {
    display: inline-block;
    margin-right: 50px;
    margin-left: 5px;
  }

  .statictext {
    display: inline-block;
    margin-right: 50px;
  }
}

.hasTooltip span {
  display: none;
  color: #000;
  text-decoration: none;
  padding: 5px 0;
}

.hasTooltip:hover span {
  display: block;
  position: absolute;
  background-color: #FFF;
  border: 1px solid #CCC;
  margin: 2px 10px;
  padding: 5px 0;
}

