<div class="container">
  <main>
    <section>
      <div class="text-rectangle">
        <h2>ONQUADRO</h2>
      </div>
      <p align="justify">
        <b>ONQUADRO</b> database collects tetrads and quadruplexes found in PDB-deposited
        structures of nucleic acids. It stores their sequences, secondary and
        tertiary structures, and motif-specific description including planarity,
        rise and twist parameters, ONZ classification, dot-bracket encoding, arc
        diagrams, etc. Graphical 2D and 3D views complement their characteristics.
      </p>
    </section>
    <section>


      <div class="row">
        <div class="col-lg-3 col-sm-3 photo">
          <a href="/tetrads"><img class="picture" src="tetrad-trim.png" /></a>
          <a href="/tetrads">
            <h3>Tetrads</h3>
          </a>
        </div>

        <div class="col-lg-3 col-sm-3 photo">
          <a href="/structures"><img class="picture" src="structure.gif" /></a>
          <a href="/structures">
            <h3>Structures</h3>
          </a>
        </div>

        <div class="col-lg-3 col-sm-3 photo">
          <a href="/helices"><img class="picture" src="1eeg-trim.png" /></a>
          <a href="/helices">
            <h3>Helices</h3>
          </a>
        </div>

        <div class="col-lg-3 col-sm-3 photo">
          <a href="/quadruplexes"><img class="picture" src="quadruplex-trim.png" /></a>
          <a href="/quadruplexes">
            <h3>Quadruplexes</h3>
          </a>
        </div>

      </div>
    </section>
  </main>
</div>
