.container {
  min-height: 100%
}
main {
  padding-bottom: 100px;
  padding-top:30px;
  height: auto;
}
.row {
  margin-top: 50px;
}
.text-rectangle {
  text-align: center;
  background-color: #45A29E;
  color: white;
  margin-top: 10px;
  padding: 5px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin: 5px;
}
.photo {
  width: 200px;
  height: 200px;
  text-align: center;
  margin-top: 15px;
}
img {
  width: 200px;
  height: 220px;
}

h3 {
  font-size: 40px;
  color: #45A29E;
}

a:hover {
  text-decoration: none;
}


h3:hover {
  color: darkgreen;
}
