<div class="container">
  <main>
    <section>
      <div class="text-rectangle">
        <h1>ONQUADRO</h1>
      </div>
      <p>
        <b>ONQUADRO</b> database collects tetrads and quadruplexes found in PDB-deposited
        structures of nucleic acids. It stores their sequences, secondary and
        tertiary structures, and motif-specific description including planarity,
        rise and twist parameters, ONZ classification, dot-bracket encoding, arc
        diagrams, etc. Graphical 2D and 3D views complement their characteristics.
      </p>
    </section>
    <section>
      <div class="row">
        <div class="col-lg-12 col-sm-6 photo">
          <a href="/structures"><img class="picture" src="structure.gif" /></a>
          <a href="/structures">
            <h2>Structures</h2>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-6 photo">
          <a href="/quadruplexes"><img class="picture" src="quadruplex-trim.png" /></a>
          <a href="/quadruplexes">
            <h2>Quadruplexes</h2>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-6 photo">
          <a href="/tetrads"><img class="picture" src="tetrad-trim.png" /></a>
          <a href="/tetrads">
            <h2>Tetrads</h2>
          </a>
        </div>
      </div>
    </section>
  </main>
</div>
