<div style="background: #F0F0F0; height: 100%">
<div class="container" *ngIf="update">
  <main>
    <section>
      <div class="text-rectangle">
        <h2>ONQUADRO</h2>
      </div>
    </section>

    <br>
      <mat-card>
        <mat-card-content>

      <p align="justify">
        <b>ONQUADRO</b> database collects tetrads, quadruplexes, and G4-helices
        found in PDB-deposited structures of nucleic acids . It stores their sequences, secondary and
        tertiary structures, and motif-specific description including planarity,
        rise and twist parameters, ONZ classification, dot-bracket encoding, arc
        diagrams, etc. Graphical 2D and 3D views complement their characteristics.
      </p>


    </mat-card-content>
    </mat-card>

<br/>

    <mat-card>
      <mat-card-content>
    <section>

      <div class="row">
        <div class="column">
          <a href="/tetrads"><img class="picture" src="tetrad-trim.png" /></a>
          <a href="/tetrads">
            <h3>Tetrads</h3>
          </a>
        </div>

        <div class="column">
          <a href="/quadruplexes"><img class="picture" src="quadruplex-trim.png" /></a>
          <a href="/quadruplexes">
            <h3>Quadruplexes</h3>
          </a>
        </div>

        <div class="column">
          <a href="/helices"><img class="picture" src="1eeg-trim.png" /></a>
          <a href="/helices">
            <h3>G4Helices</h3>
          </a>
        </div>

        <div class="column">
          <a href="/structures"><img class="picture" src="structure.gif" /></a>
          <a href="/structures">
            <h3>Structures</h3>
          </a>
        </div>
      </div>
    </section>

      </mat-card-content>
    </mat-card>

    <br>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="column2" style="margin-top: 50px">
            <h5>Last update: {{update.pdbRelease}} </h5>
            <p> <b>+{{update.addedTetradCount}}</b> Tetrads </p>
            <p> <b>+{{update.addedQuadruplexCount}}</b> Quadruplexes </p>
            <p> <b>+{{update.addedHelixCount}}</b> Helices </p>
            <p> <b>+{{update.addedQuadruplexCount}}</b> Structures </p>
          </div>

          <div class="column2">
          <div style="display: block;" >
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [colors]="barChartColors"
                    [chartType]="barChartType">
            </canvas>
          </div>
          </div>

        </div>

      </mat-card-content>
    </mat-card>
    <br>

  </main>

</div>
</div>

<!--


select t.release_date, numberOfTetrad, numberOfQuadruplex, numberOfHelix, from tetrad_growth_view t
join quadruplex_growth_view q  on t.release_date = q.release_date
join helix_growth_view h on t.release_date = h.release_date
where t.release_date = (select max(release_date) from tetrad_growth_view natural join quadruplex_growth_view natural join helix_growth_view);

select (select count(*) from quadruplex) as quadruplex_count,
  (select count(*) from helix) as helix_count,
   (select count(*) from tetrad) as tetrad_count

CREATE VIEW helix_growth_view AS
SELECT p.release_date, COUNT(DISTINCT h.id) as numberOfHelix
FROM pdb p
         JOIN nucleotide n on p.id = n.pdb_id
         JOIN tetrad t on n.id = t.nt1_id
         JOIN quadruplex q on t.quadruplex_id = q.id
		 JOIN helix_new h on q.helix_id = h.id
GROUP BY p.release_date
ORDER BY p.release_date DESC;

CREATE VIEW helix_new AS
select * from helix where id in (select helix_id from quadruplex group by helix_id having(count(id))>1);
-->
