body {
}
.container {
  min-height: 100%;
}
main {
  padding-bottom: 100px;
  height: auto;
}
button {
  background-color: #45A29E;
  color: white;
  height: 50px;
}
.text-rectangle {
  text-align: center;
  background-color: #45A29E;
  color: white;
  margin-top: 10px;
  padding: 5px;
}

p {
  font-size: large;
  line-height: 1.5;
  margin: 5px;
}
h3 {
  margin-top: 5px;
}
