<div style="background: #F0F0F0; height: 100%">
<div class="container">
  <main>
    <div class="text-rectangle">
      <h2>Cite us</h2>
    </div>
    <br>
    <mat-card>
      <mat-card-content>
    <b>
      <p>Any published work which has made use of the database should cite the following paper:</p>
    </b>
    <p>
      T. Zok, N. Kraszewska, J. Miskiewicz, P. Pielacinska, M. Zurkowski, M. Szachniuk.
      ONQUADRO: a database of experimentally determined quadruplex structures.
    </p>
    <b>
      <br />
      <p>The following papers can be also cited:</p>
    </b>
    <ul>
      <li>
        <a href="https://academic.oup.com/bioinformatics/article/36/4/1129/5582264">
          M. Popenda, J. Miskiewicz, J. Sarzynska, T. Zok, M. Szachniuk (2020)
          Topology-based classification of tetrads and quadruplex structures,
          Bioinformatics 36(4):1129&#8211;1134.
        </a>
      </li>
      <li>
        <a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-020-3385-1">
          T. Zok, M. Popenda, M. Szachniuk (2020) ElTetrado: a tool for
          identification and classification of tetrads and quadruplexes, BMC
          Bioinformatics 21:40.
        </a>
      </li>
    </ul>
      </mat-card-content>
    </mat-card>
  </main>
</div>
</div>
