<div class="container">
  <main>
    <div class="text-rectangle">
      <h2>Cite us</h2>
    </div>
    <b>
      <p>Any published work which has made use of the database should cite the following paper:</p>
    </b>
    <p>
      T. Zok, J. Miskiewicz, P. Pielacinska, N. Kraszewska, M. Szachniuk.
      ONQUADRO: a database of tetrads and quadruplexes, submitted for publication
    </p>
    <b>
      <br />
      <p>The following papers can be also cited:</p>
    </b>
    <ul>
      <li>
        <p>
          M. Popenda, J. Miskiewicz, J. Sarzynska, T. Zok, M. Szachniuk (2020)
          Topology-based classification of tetrads and quadruplex structures,
          Bioinformatics 36(4):1129&#8211;1134.

        </p>
      </li>
      <li>
        <p>
          T. Zok, M. Popenda, M. Szachniuk (2020) ElTetrado: a tool for
          identification and classification of tetrads and quadruplexes, BMC
          Bioinformatics 21:40.
        </p>
      </li>
    </ul>
  </main>
</div>
