<div class="container">
  <main>
    <div class="text-rectangle">
      <h1>Citations</h1>
    </div>
    <b>
      <p>Any published work which has made use of the database should cite the following paper:</p></b>
    <p>
      T. Zok, P. Pielacinska, J. Miskiewicz, M. Popenda, M. Szachniuk. QBASE: a
      database of tetrads and quadruplexes with ONZ taxonomy, submitted for
      publication
    </p>
    <b>
      <p>The following papers can be also cited:</p></b>
    <p>
      M. Popenda, J. Miskiewicz, J. Sarzynska, T. Zok, M. Szachniuk. Novel
      classification of tetrads and quadruplex structure, submitted for
      publication.
    </p>
    <p>
      T. Zok, M. Popenda, J. Miskiewicz, M. Szachniuk. ElTetrado: a tool for
      identification and ONZ classification of quadruplexes, submitted for
      publication.
    </p>
  </main>
</div>
