#parent {
  color: white;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 25px;
  width: 25px;
  background-color: rgba(72, 173, 169, 1);
  border-radius: 6px 6px 6px 6px;
  cursor: pointer;
}
