#parent {
  color: white;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 22px;
  width: 22px;
  border-radius: 6px 6px 6px 6px;
  cursor: pointer;
  user-select: none;
}

.struct {
  background-color: rgba(72, 173, 169, 1);
}

.meta {
  background-color: rgba(239, 217, 99, 1);
}

.disabled {
  color: lightgrey !important;
  pointer-events: none !important;
  background-color: rgba(169, 169, 169, 1) !important;
}
