<div style=" background: #F0F0F0; height: 100%">
<div class="container" *ngIf="data && data.quadruplexesInTheSamePdb && tetrads">
  <main>
    <div class="description">
      <div class="text-rectangle">
        <h2> Quadruplex description</h2>
      </div>
      <br/>
      <mat-card>
        <mat-card-content>
      <!-- <svg [innerHTML]="svg" id="pic"></svg> -->
      <div class="row ">
        <div class="col-lg-10 col-sm-6">
          <h5><b>Quadruplex ID: {{data.id}}</b></h5>
        </div>
        <div class=" col-lg-2 col-sm-6 saveDataButton">
        <a class="mat-button" (click) = downloadZip()>Save data</a>
         <!-- <a class="mat-button" (click) =saveImage()>save</a> -->
        </div>
      </div>

      <div class="quadruplextable">
        <table class="table" style="border:1px solid black;">
          <thead>
            <tr>
              <th class = nineColumnsStyle style="text-align: center; vertical-align: middle;">PDB ID</th>
              <th class = nineColumnsStyle style="text-align: center; vertical-align: middle;">Assembly ID</th>
              <th class = nineColumnsStyle style="text-align: center; vertical-align: middle;">Molecule</th>
              <th class = nineColumnsStyle style="text-align: center; vertical-align: middle;">Experimental method</th>
              <th class = nineColumnsStyle style="text-align: center; vertical-align: middle;">Type (by no. of strands)</th>
              <th class = nineColumnsStyle style="text-align: center; vertical-align: middle;">No. of tetrads</th>
              <th class = nineColumnsStyle style="text-align: center; vertical-align: middle;">ONZM class</th>
              <th class = nineColumnsStyle style="text-align: center; vertical-align: middle;">Loop topology</th>
              <th class = nineColumnsStyle style="text-align: center; vertical-align: middle;">Tetrad combination</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class = nineColumnsStyle style="text-align: center; vertical-align: middle;" ><a class = "hasTooltip" target="_blank" rel="noopener noreferrer" href="https://www.rcsb.org/structure/{{data.pdbIdentifier}}">{{data.pdbIdentifier}}  <span> <img src = "static/pymol/{{data.pdbIdentifier}}-assembly-{{data.assemblyId}}.png" width="200" height="150"  alt=""> </span> </a></td>
              <td class = nineColumnsStyle style="text-align: center; vertical-align: middle;">{{data.assemblyId}}</td>
              <td class = nineColumnsStyle style="text-align: center; vertical-align: middle;">{{data.molecule}}</td>
              <td class = nineColumnsStyle style="text-align: center; vertical-align: middle;">{{data.experiment}}</td>
              <td class = nineColumnsStyle style="text-align: center; vertical-align: middle;">{{data.typeOfStrands}}</td>
              <td class = nineColumnsStyle style="text-align: center; vertical-align: middle;">{{data.numberOfTetrads}}</td>
              <td class = nineColumnsStyle style="text-align: center; vertical-align: middle;">{{data.onzmClass}}</td>
              <td class = nineColumnsStyle style="text-align: center; vertical-align: middle;">{{data.loopTopology}}</td>
              <td class = nineColumnsStyle style="text-align: center; vertical-align: middle;">{{data.tetradCombination}}</td>
            </tr>
          </tbody>
        </table>
      </div>
        </mat-card-content>
      </mat-card>

      <br>


      <mat-card>
        <mat-card-content>
          <div>
            <h5> 2D structure (dot-bracket):</h5>
            <p class="dotbracket">{{data.dot_bracket}}</p>
          </div>

          <div style="margin-top: 30px">
            <div class="row">
              <div class="column">
                <button (click)="show2dStructure('varna' )" title="Click to see 2D structure">
                  <div class="text">2D structure (VARNA)</div>
                  <figure> <img src = "static/varna/{{data.id}}.svg" width="160px" height="160px" alt="varna"/></figure>
                </button>
              </div>
              <div class="column">
                <button (click)="show2dStructure('rchie' )" title="Click to see 2D structure">
                  <div class="text">2D structure (R-chie)</div>
                  <figure> <img src = "static/rchie/{{data.id}}.svg" width="160px" height="150px"  alt="r-chie"/></figure>
                </button>
              </div>
              <div class="column">
                <button (click)="show2dStructure('layers' )" title="Click to see 3D structure">
                  <div class="text">3D structure (Layers)</div>
                  <figure> <img src = "static/layers/{{data.id}}.svg" width="180px" height="150px"  alt="layers"/></figure>
                </button>
              </div>
              <div class="column">
                <button (click)="show3dStructure()" title="Click to see 3D structure">
                  <div class="text">3D structure (LiteMol)</div>
                  <figure> <img src = "static/pymol/{{data.id}}.png" width="180px" height="130px"  alt="litemol"/></figure>
                </button>
              </div>
            </div>
          </div>
          <br>
        </mat-card-content>
      </mat-card>

      <br />
      <mat-card>
        <mat-card-content>
      <h5>Tetrads in {{data.id}}:</h5>
      <div>
        <table class="table"style="border:1px solid black;">
          <thead>
            <tr>
              <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Tetrad ID</th>
              <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Sequence</th>
              <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">ONZ Class</th>
              <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Planarity [Å]</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let t of tetrads">
              <td
                class = fourColumnsStyle
                style="text-align: center; vertical-align: middle;">
                <a class = "hasTooltip" [routerLink]="['/tetrad', t.id.slice(1)]">
                  {{t.id}}  <span> <img src = "static/pymol/{{t.id}}.png" width="100" height="100"  alt=""> </span>
                </a>
              </td>
              <td class = fourColumnsStyle style="text-align: center; vertical-align: middle;" >{{t.sequence}}</td>
              <td class = fourColumnsStyle style="text-align: center; vertical-align: middle;">{{t.onzClass}}</td>
              <td class = fourColumnsStyle  style="text-align: center; vertical-align: middle;">{{setTwoNumberDecimal(t.planarity)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
        </mat-card-content>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-content>
      <h5>Tetrad pairs in {{data.id}}:</h5>
      <div>
        <table class="table" style="border:1px solid black;">
          <thead>
          <tr>
            <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Tetrad pairs</th>
            <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Twist [°]</th>
            <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Rise [Å]</th>
            <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Strand direction</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let t of tetradsPairsTable">
            <td
              class = fourColumnsStyle
              style="text-align: center; vertical-align: middle;"
              *ngIf="t.TetradPairId.slice(1) != 0">
              <a class = "hasTooltip" [routerLink]="['/tetrad', t.TetradId.slice(1)]">
                {{t.TetradId}} <span> <img src = "static/pymol/{{t.TetradId}}.png" width="100" height="100"  alt=""> </span>
              </a>
              -
              <a class ="hasTooltip" [routerLink]="['/tetrad', t.TetradPairId.slice(1)]">
                {{t.TetradPairId}} <span> <img src = "static/pymol/{{t.TetradPairId}}.png" width="100" height="100"  alt=""> </span>
              </a>
            </td>
            <td class = fourColumnsStyle style="text-align: center; vertical-align: middle;" *ngIf="t.TetradPairId.slice(1) != 0 ">{{t.twist | number: '1.0-2'}}</td>
            <td class = fourColumnsStyle style="text-align: center; vertical-align: middle;" *ngIf="t.TetradPairId.slice(1) != 0 ">{{t.rise | number: '1.0-2'}}</td>
            <td class = fourColumnsStyle style="text-align: center; vertical-align: middle;" *ngIf="t.TetradPairId.slice(1) != 0 ">{{t.direction}}</td>
          </tr>
          </tbody>
        </table>
      </div>
        </mat-card-content>
      </mat-card>

      <br *ngIf="quadruplexLoops.length != 0">
      <mat-card *ngIf="quadruplexLoops.length != 0">
        <mat-card-content>
          <div class="row ">
            <div class="col-lg-10 col-sm-6">
              <h5>Loops in {{data.id}}:</h5>
            </div>
          </div>
          <table class="table" style="border:1px solid black;">
            <thead>
            <tr>
              <th class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">Loop ID</th>
              <th class = "fiveColumnsStyle" style = "text-align: center; vertical-align: middle;">Short sequence</th>
              <th class = "fiveColumnsStyle" style = "text-align: center; vertical-align: middle;">Full sequence</th>
              <th class = "fiveColumnsStyle" style = "text-align: center; vertical-align: middle;">Loop length</th>
              <th class = "fiveColumnsStyle" style = "text-align: center; vertical-align: middle;">Loop type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let l of quadruplexLoops">
              <td class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">{{l.id}}</td>
              <td class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">{{l.short_sequence}}</td>
              <td class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">{{l.full_sequence}}</td>
              <td class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">{{l.loop_length}}</td>
              <td class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">{{l.loop_type}}</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>

      <br>
      <mat-card>
        <mat-card-content>
          <div class="row ">
            <div class="col-lg-10 col-sm-6">
              <h5>Nucleotides in {{data.id}}:</h5>
            </div>
          </div>
          <table class="table" style="border:1px solid black;">
            <thead>
            <tr>
              <th class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">Tetrad ID</th>
              <th class = "fiveColumnsStyle" style = "text-align: center; vertical-align: middle;">Nucleotide 1</th>
              <th class = "fiveColumnsStyle" style = "text-align: center; vertical-align: middle;">Nucleotide 2</th>
              <th class = "fiveColumnsStyle" style = "text-align: center; vertical-align: middle;">Nucleotide 3</th>
              <th class = "fiveColumnsStyle" style = "text-align: center; vertical-align: middle;">Nucleotide 4</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let n of nucleotideChiValues">
              <td class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">
                <a class = "hasTooltip" [routerLink]="['/tetrad', n.tetrad_id.slice(1)]">{{n.tetrad_id}}
                  <span> <img src = "static/pymol/{{n.tetrad_id}}.png" width="100" height="100"  alt=""> </span>
                </a></td>
              <td class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">{{n.n1_chi | number: '1.0-2'}}° / {{n.n1_glycosidic_bond}}</td>
              <td class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">{{n.n2_chi | number: '1.0-2'}}° / {{n.n2_glycosidic_bond}}</td>
              <td class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">{{n.n3_chi | number: '1.0-2'}}° / {{n.n3_glycosidic_bond}}</td>
              <td class = "fiveColumnsStyle" style="text-align: center; vertical-align: middle;">{{n.n4_chi}}° / {{n.n4_glycosidic_bond}}</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>

      <br>
      <mat-card>
        <mat-card-content>
      <div class="lists">
        <div class="list">
          <p>
            Number of quadruplexes in this structure: <b>{{data.quadruplexesInTheSamePdb.length + 1}}</b>
          </p>
        </div>
        <div class="list">
          <p>
            Other quadruplexes in this structure:
            <a *ngFor="let q of data.quadruplexesInTheSamePdb" [routerLink]="['/quadruplex', q]">Q{{q}} </a>
            <a *ngIf="data.quadruplexesInTheSamePdb.length == 0">-</a>
          </p>
        </div>
      </div>
        </mat-card-content>
      </mat-card>
      <br />
    </div>
  </main>
</div>
</div>
