@media screen and (max-width: 600px) {
  .quadruplextablex {
    max-width: 100%;
    overflow-x: scroll;
  }
}

.container {
  min-height: 100%;
  text-align:justify;
}

main {
  margin-top: 10px;
  height: auto;
  padding-top:20px;
}
.text-rectangle {
  text-align: center;
  background-color: #45A29E;
  color: white;
  margin-top: 10px;
  padding: 5px;
}

p {
  font-size: large;
  line-height: 1.5;
  margin: 10px;
}

structure {
  display: inline-block;
  margin: 10px;
}

h2 {
  text-align: center;
}
a {
  color: #45A29E;
}
.table{
  margin:5px;
}
.view {
  max-width: 100%;
  height: 40px;
  border-style: solid;
  border-width: 2px;
  margin: 5px;
  border-radius: 5px;
  text-align:center;
}

.lists{
  margin-top: 10px;
}
