<div style=" background: #F0F0F0; height: 100%">
<div class="container" *ngIf="data && data.quadruplexesInTheSamePdb && tetrads">
  <main>
    <div class="description">
      <div class="text-rectangle">
        <h2> Quadruplex description</h2>
      </div>
      <br/>
      <mat-card>
        <mat-card-content>
      <!-- <svg [innerHTML]="svg" id="pic"></svg> -->
      <div class="row ">
        <div class="col-lg-10 col-sm-6">
          <h5><b>Quadruplex ID: {{data.id}}</b></h5>
        </div>
        <div class=" col-lg-2 col-sm-6 saveDataButton">
        <a class="mat-button" (click) = downloadZip()>Save data</a>
         <!-- <a class="mat-button" (click) =saveImage()>save</a> -->
        </div>
      </div>

      <div class="quadruplextable">
        <table class="table" style="border:1px solid black;">
          <thead>
            <tr>
              <th class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">PDB ID</th>
              <th class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">Assembly ID</th>
              <th class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">Molecule</th>
              <th class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">Experimental method</th>
              <th class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">Type (by no. of strands)</th>
              <th class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">No. of tetrads</th>
              <th class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">ONZM class</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class = sevenColumnsStyle style="text-align: center; vertical-align: middle;" ><a class = "hasTooltip" target="_blank" rel="noopener noreferrer" href="https://www.rcsb.org/structure/{{data.pdbIdentifier}}">{{data.pdbIdentifier}}  <span> <img src = "static/pymol/{{data.pdbIdentifier}}-assembly-{{data.assemblyId}}.png" width="200" height="150"  alt=""> </span> </a></td>
              <td class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">{{data.assemblyId}}</td>
              <td class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">{{data.molecule}}</td>
              <td class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">{{data.experiment}}</td>
              <td class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">{{data.numberOfStrands}}</td>
              <td class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">{{data.numberOfTetrads}}</td>
              <td class = sevenColumnsStyle style="text-align: center; vertical-align: middle;">{{data.onzmClass}}</td>
            </tr>
          </tbody>
        </table>
      </div>
        </mat-card-content>
      </mat-card>

      <br>
      <mat-card>
        <mat-card-content>
      <div>
        <h5> 2D structure (dot-bracket):</h5>
        <p class="dotbracket">{{data.dot_bracket}}</p>

      </div>

      <div class="quadruplextable">
        <table class="table" style="border:1px solid black;">
          <tr>
            <td class = threeColumnsStyle style="text-align: center; vertical-align: middle;">
              <button (click)="show2dStructure('varna')" title="Click to see 2D structure"> 2D structure (VARNA)</button>
            </td>
            <td class = threeColumnsStyle style="text-align: center; vertical-align: middle;">
              <button (click)="show2dStructure('rchie')" title="Click to see 2D structure"> 2D structure (R-chie)</button>
            </td>
            <td class = threeColumnsStyle style="text-align: center; vertical-align: middle;">
              <button (click)="show3dStructure()" title="Click to see 3D structure"> 3D structure (LiteMol)</button>
            </td>
          </tr>
          <tr>
            <td class = threeColumnsStyle style="text-align: center; vertical-align: middle;">
              <img src = "static/varna/{{data.id}}.svg" width="150" height="150"  alt="">
            </td>
            <td class = threeColumnsStyle style="text-align: center; vertical-align: middle;">
              <img src = "static/rchie/{{data.id}}.svg" width="200" height="150"  alt="">
            </td>
            <td class = threeColumnsStyle style="text-align: center; vertical-align: middle;">
              <img src = "static/pymol/{{data.id}}.png" width="200" height="150"  alt="">
            </td>
          </tr>
        </table>
      </div>

        </mat-card-content>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-content>
      <h5>Tetrads in {{data.id}}:</h5>
      <div class="quadruplextable">
        <table class="table"style="border:1px solid black;">
          <thead>
            <tr>
              <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Tetrad ID</th>
              <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Sequence</th>
              <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">ONZ Class</th>
              <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Planarity</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let t of tetrads">
              <td
                class = fourColumnsStyle
                style="text-align: center; vertical-align: middle;">
                <a class = "hasTooltip" [routerLink]="['/tetrad', t.id.slice(1)]">
                  {{t.id}}  <span> <img src = "static/pymol/{{t.id}}.png" width="100" height="100"  alt=""> </span>
                </a>
              </td>
              <td class = fourColumnsStyle style="text-align: center; vertical-align: middle;" >{{t.sequence}}</td>
              <td class = fourColumnsStyle style="text-align: center; vertical-align: middle;">{{t.onzClass}}</td>
              <td class = fourColumnsStyle  style="text-align: center; vertical-align: middle;">{{setTwoNumberDecimal(t.planarity)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
        </mat-card-content>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-content>
      <h5>Tetrad pairs in {{data.id}}:</h5>
      <div class="quadruplextable">
        <table class="table" style="border:1px solid black;">
          <thead>
          <tr>
            <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Tetrad pairs</th>
            <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Twist</th>
            <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Rise</th>
            <th class = fourColumnsStyle style="text-align: center; vertical-align: middle;">Strand direction</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let t of tetradsPairsTable">
            <td
              class = fourColumnsStyle
              style="text-align: center; vertical-align: middle;"
              *ngIf="t.TetradPairId.slice(1) != 0">
              <a class = "hasTooltip" [routerLink]="['/tetrad', t.TetradId.slice(1)]">
                {{t.TetradId}} <span> <img src = "static/pymol/{{t.TetradId}}.png" width="100" height="100"  alt=""> </span>
              </a>
              -
              <a class ="hasTooltip" [routerLink]="['/tetrad', t.TetradPairId.slice(1)]">
                {{t.TetradPairId}} <span> <img src = "static/pymol/{{t.TetradPairId}}.png" width="100" height="100"  alt=""> </span>
              </a>
            </td>
            <td class = fourColumnsStyle style="text-align: center; vertical-align: middle;" *ngIf="t.TetradPairId.slice(1) != 0 ">{{t.twist | number: '1.0-2'}}</td>
            <td class = fourColumnsStyle style="text-align: center; vertical-align: middle;" *ngIf="t.TetradPairId.slice(1) != 0 ">{{t.rise | number: '1.0-2'}}</td>
            <td class = fourColumnsStyle style="text-align: center; vertical-align: middle;" *ngIf="t.TetradPairId.slice(1) != 0 ">{{t.direction}}</td>
          </tr>
          </tbody>
        </table>
      </div>
        </mat-card-content>
      </mat-card>

      <br>
      <mat-card>
        <mat-card-content>
      <div class="lists">
        <div class="list">
          <p>
            Number of quadruplexes in this structure: <b>{{data.quadruplexesInTheSamePdb.length + 1}}</b>
          </p>
        </div>
        <div class="list">
          <p>
            Other quadruplexes in this structure:
            <a *ngFor="let q of data.quadruplexesInTheSamePdb" [routerLink]="['/quadruplex', q]">Q{{q}} </a>
            <a *ngIf="data.quadruplexesInTheSamePdb.length == 0">-</a>
          </p>
        </div>
      </div>
        </mat-card-content>
      </mat-card>
      <br />
    </div>
  </main>
</div>
</div>
