.mat-dialog-title {
  margin: 10px 0 10px;
}

.formDialog {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  height: 200px;
}

#parent {
  width: 325px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 12px;
  padding-right: 12px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.primary {
  background-color: rgba(72, 173, 169, 1);
  color: white;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgba(72, 173, 169, 1) !important;
}
