<div id="parentRow">
  <div class="conditionsElem">
    <ng-container *ngFor="let cond of rowData.conditions">
      <ng-container *ngIf="!rowData.isOperator">
        <app-cond-cell [ID]="rowData.attrID" [condData]="cond" (deleteEvent)="removeCond($event)"></app-cond-cell>
      </ng-container>
      <ng-container *ngIf="rowData.isOperator && rowData.attrID !== 'sequence'">
        <app-cond-operator-cell [ID]="rowData.attrID" [condData]="cond" (deleteEvent)="removeCond($event)"></app-cond-operator-cell>
      </ng-container>
      <ng-container *ngIf="rowData.isOperator && rowData.attrID === 'sequence'">
        <app-cond-seq-cell [ID]="rowData.attrID" [condData]="cond" (deleteEvent)="removeCond($event)"></app-cond-seq-cell>
      </ng-container>
    </ng-container>
  </div>
  <div class="addButton">
    <app-add-button [name]="'addButton'" [content]="'+'" [rootAttrName]="rowAttrName" [rootAttrID]="rowAttrID" [disable]="disableAddButton" (newConditionEvent)="addConditions($event)"></app-add-button>
  </div>
</div>
