<div style="  background: #F0F0F0; height: 100%">
<div class="container" *ngIf="topologyBaseTableOne" >
  <main>
    <div class="text-rectangle">
      <h2>Statistics</h2>
    </div>
    <br>
    <mat-card-content>
      <mat-card>
    <div>
        <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 30px">
        <mat-label>Select a table</mat-label>
        <mat-select [(value)]="selected" disableOptionCentering panelClass="myPanelClass">
          <mat-option value="topologyBaseTableOne">Number of tetrads by sequence and molecule type</mat-option>
          <mat-option value="topologyBaseTableTwo">Number of quadruplexes composed of 2–12 tetrads</mat-option>
          <mat-option value="topologyBaseTableThere">Number of uni-, bi- and tetramolecular quadruplexes</mat-option>

          <mat-option value="ELTetradoableOne">ONZ class coverage by uni-, bi- and tetramolecular tetrad</mat-option>
          <mat-option value="ELTetradoableTwo">ONZM class coverage by unimolecular quadruplexes</mat-option>
          <mat-option value="ELTetradoableThereA">ONZM class coverage by bimolecular quadruplexes</mat-option>
          <mat-option value="ELTetradoableThereB">ONZM class coverage by tetramolecular quadruplexes</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Number of tetrads by sequence and molecule type START -->
    <div *ngIf="selected == 'topologyBaseTableOne'">
      <mat-card-content>
        <mat-card>
        <div class="row">
      <div class="col-lg-10 col-sm-6">
          <b><p>Number of tetrads by sequence and molecule type<p></b>
      </div>
      <div class=" col-lg-2 col-sm-6 saveDataButton">
        <a class="mat-button" csvLink [data]="topologyBaseTableOne">Save table</a>
      </div>
    </div>
    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">Sequence</th>
          <th style="text-align: center; vertical-align: middle;">DNA</th>
          <th style="text-align: center; vertical-align: middle;">RNA</th>
          <th style="text-align: center; vertical-align: middle;">Other</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of topologyBaseTableOne">
          <td style="text-align: center; vertical-align: middle;">{{t.sequence}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.dna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.rna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.other}}</td>
          <td style="text-align: center; vertical-align: middle;" ><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>
          <iframe style = "width:95%; height:800px" frameBorder="0" src="onquadro_plots/number_of_tetrads_by_sequence_and_molecule_type.html"></iframe>
        </mat-card>
      </mat-card-content>
    </div>
    <!-- Number of tetrads by sequence and molecule type END -->

    <!-- Number of quadruplexes composed of 2–12 tetrads START-->
    <div *ngIf="selected == 'topologyBaseTableTwo' && topologyBaseTableTwo">
      <mat-card-content>
        <mat-card>
    <div class="row">
      <div class="col-lg-10 col-sm-6">
        <b><p>Number of quadruplexes composed of 2–12 tetrads</p></b>
      </div>
      <div class=" col-lg-2 col-sm-6 saveDataButton">
        <a class="mat-button" csvLink [data]="topologyBaseTableTwo">Save table</a>
      </div>
    </div>
    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">Number of tetrads</th>
          <th style="text-align: center; vertical-align: middle;">DNA</th>
          <th style="text-align: center; vertical-align: middle;">RNA</th>
          <th style="text-align: center; vertical-align: middle;">Other</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of topologyBaseTableTwo">
          <td style="text-align: center; vertical-align: middle;">{{t.numberOfTetrads}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.dna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.rna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.other}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>
          <iframe style = "width:95%; height:800px " frameBorder="0" src="onquadro_plots/number_of_quadruplexes_composed_of_2_12_tetrads.html"></iframe>

        </mat-card>
      </mat-card-content>
</div>

    <!-- Number of quadruplexes composed of 2–12 tetrads END -->

    <!-- Number of uni-, bi- and tetramolecular quadruplexes START -->

  <div *ngIf="selected == 'topologyBaseTableThere' && topologyBaseTableThere">
    <mat-card-content>
      <mat-card>
    <div class="row">
      <div class="col-lg-10 col-sm-6">
        <b><p>Number of uni-, bi- and tetramolecular quadruplexes</p></b>
      </div>

      <div class=" col-lg-2 col-sm-6 saveDataButton">

        <a class="mat-button" csvLink [data]="topologyBaseTableThere">Save table</a>
      </div>
    </div>
    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">Chains</th>
          <th style="text-align: center; vertical-align: middle;">DNA</th>
          <th style="text-align: center; vertical-align: middle;">RNA</th>
          <th style="text-align: center; vertical-align: middle;">Other</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of topologyBaseTableThere">
          <td style="text-align: center; vertical-align: middle;">{{t.chains}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.dna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.rna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.other}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>
        <iframe style = "width:95%; height:800px " frameBorder="0" src="onquadro_plots/number_of_uni_bi_and_tetramolecular_quadruplexes.html"></iframe>
      </mat-card>
    </mat-card-content>
  </div>

    <!-- Number of uni-, bi- and tetramolecular quadruplexes END -->

    <!-- ONZ class coverage by uni-, bi- and tetramolecular tetrad START -->

    <div *ngIf="selected == 'ELTetradoableOne' && ELTetradoableOne">
      <mat-card-content>
        <mat-card>
    <div class="row">
    <div class="col-lg-10 col-sm-6">
      <b><p>ONZ class coverage by uni-, bi- and tetramolecular tetrad</p></b>
    </div>

    <div class=" col-lg-2 col-sm-6 saveDataButton">

      <a class="mat-button" csvLink [data]="ELTetradoableOne">Save table</a>
    </div>
    </div>

    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">ONZ</th>
          <th style="text-align: center; vertical-align: middle;">Unimolecular</th>
          <th style="text-align: center; vertical-align: middle;">Bimolecular</th>
          <th style="text-align: center; vertical-align: middle;">Tetramolecular</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of ELTetradoableOne">
          <td style="text-align: center; vertical-align: middle;">{{t.onz}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.unimolecular}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.bimolecular}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.tetramolecular}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>
          <iframe style = "width:95%; height:800px " frameBorder="0" src="onquadro_plots/ONZ_class_coverage_by_uni_bi_and_tetramolecular_tetrad.html"></iframe>

        </mat-card>
      </mat-card-content>
    </div>

    <!-- ONZ class coverage by uni-, bi- and tetramolecular tetrad END -->

    <!-- ONZM class coverage by unimolecular quadruplexes START -->

    <div *ngIf="selected == 'ELTetradoableTwo' && ELTetradoableTwo">
      <mat-card-content>
        <mat-card>
    <div class="row">
    <div class="col-lg-10 col-sm-6">
      <b><p>ONZM class coverage by unimolecular quadruplexes</p></b>
    </div>
    <div class=" col-lg-2 col-sm-6 saveDataButton">
      <a class="mat-button" csvLink [data]="ELTetradoableTwo">Save table</a>
    </div>
    </div>
    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">ONZM</th>
          <th style="text-align: center; vertical-align: middle;">+</th>
          <th style="text-align: center; vertical-align: middle;">-</th>
          <th style="text-align: center; vertical-align: middle;">*</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of ELTetradoableTwo">
          <td style="text-align: center; vertical-align: middle;">{{t.onzm}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.plus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.minus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.star}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>
          <iframe style = "width:95%; height:800px " frameBorder="0" src="onquadro_plots/ONZM_class_coverage_by_unimolecular_quadruplexes.html"></iframe>
        </mat-card>
      </mat-card-content>
    </div>

    <!-- ONZM class coverage by unimolecular quadruplexes END -->

    <!-- ONZM class coverage by bimolecular quadruplexes START -->

<div *ngIf="selected == 'ELTetradoableThereA' && ELTetradoableThereA">
  <mat-card-content>
    <mat-card>
    <div class="row">
      <div class="col-lg-10 col-sm-6">
        <p> <b> ONZM class coverage by bimolecular quadruplexes</b></p>
      </div>
      <div class=" col-lg-2 col-sm-6 saveDataButton">
        <a class="mat-button" csvLink [data]="ELTetradoableThereA">Save table</a>
      </div>
    </div>
    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">ONZM</th>
          <th style="text-align: center; vertical-align: middle;">+</th>
          <th style="text-align: center; vertical-align: middle;">-</th>
          <th style="text-align: center; vertical-align: middle;">*</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of ELTetradoableThereA">
          <td style="text-align: center; vertical-align: middle;">{{t.onzm}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.plus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.minus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.star}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>
      <iframe style = "width:95%; height:800px " frameBorder="0" src="onquadro_plots/ONZM_class_coverage_by_bimolecular_quadruplexes.html"></iframe>
    </mat-card>
  </mat-card-content>
</div>

    <!-- ONZM class coverage by bimolecular quadruplexes END -->

    <!-- ONZM class coverage by tetramolecular quadruplexes START -->

    <div *ngIf="selected == 'ELTetradoableThereB' && ELTetradoableThereB">
      <mat-card-content>
        <mat-card>
    <div class="row">
      <div class="col-lg-10 col-sm-6">
        <p> <b>ONZM class coverage by tetramolecular quadruplexes</b></p>
      </div>
      <div class=" col-lg-2 col-sm-6 saveDataButton">
        <a class="mat-button" csvLink [data]="ELTetradoableThereB">Save table</a>
      </div>
    </div>
    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">ONZM</th>
          <th style="text-align: center; vertical-align: middle;">+</th>
          <th style="text-align: center; vertical-align: middle;">-</th>
          <th style="text-align: center; vertical-align: middle;">*</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of ELTetradoableThereB">
          <td style="text-align: center; vertical-align: middle;">{{t.onzm}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.plus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.minus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.star}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>
          <iframe style = "width:95%; height:800px " frameBorder="0" src="onquadro_plots/ONZM_class_coverage_by_tetramolecular_quadruplexes.html"></iframe>
        </mat-card>
      </mat-card-content>
    </div>

    <!-- ONZM class coverage by tetramolecular quadruplexes END -->
      </mat-card>
    </mat-card-content>

  </main>
</div>
</div>
