<div class="container">
  <main>
    <div class="text-rectangle">
      <h2>Statistics</h2>
    </div>
    <b>
      <p class = 'p2'>
        Topology-based classification of
        tetrads and quadruplex structures:
      </p>
    </b>

    <div class="row ">
      <div class="col-lg-10 col-sm-6">
          <b><p> Table 1. Number of tetrads by sequence and molecule type<p></b>
      </div>

      <div class=" col-lg-2 col-sm-6 saveDataButton">

        <a class="mat-button" csvLink [data]="topologyBaseTableOne">Save table</a>
      </div>
    </div>

    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">Sequence</th>
          <th style="text-align: center; vertical-align: middle;">DNA</th>
          <th style="text-align: center; vertical-align: middle;">RNA</th>
          <th style="text-align: center; vertical-align: middle;">Other</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of topologyBaseTableOne">
          <td style="text-align: center; vertical-align: middle;">{{t.sequence}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.dna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.rna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.other}}</td>
          <td style="text-align: center; vertical-align: middle;" ><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row ">
      <div class="col-lg-10 col-sm-6">
        <b><p> Table 2. Number of quadruplexes composed of 2–12 tetrads</p></b>
      </div>

      <div class=" col-lg-2 col-sm-6 saveDataButton">

        <a class="mat-button" csvLink [data]="topologyBaseTableTwo">Save table</a>
      </div>
    </div>

    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">Number of tetrads</th>
          <th style="text-align: center; vertical-align: middle;">DNA</th>
          <th style="text-align: center; vertical-align: middle;">RNA</th>
          <th style="text-align: center; vertical-align: middle;">Other</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of topologyBaseTableTwo">
          <td style="text-align: center; vertical-align: middle;">{{t.numberOfTetrads}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.dna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.rna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.other}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>


    <div class="row ">
      <div class="col-lg-10 col-sm-6">
        <b><p> Table 3. Number of uni-, bi- and tetramolecular quadruplexes</p></b>
      </div>

      <div class=" col-lg-2 col-sm-6 saveDataButton">

        <a class="mat-button" csvLink [data]="topologyBaseTableThere">Save table</a>
      </div>
    </div>
    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">Chains</th>
          <th style="text-align: center; vertical-align: middle;">DNA</th>
          <th style="text-align: center; vertical-align: middle;">RNA</th>
          <th style="text-align: center; vertical-align: middle;">Other</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of topologyBaseTableThere">
          <td style="text-align: center; vertical-align: middle;">{{t.chains}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.dna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.rna}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.other}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>

    <b>
      <p class = 'p2'>
        ElTetrado: a tool for identification and
        classification of tetrads and quadruplexes
      </p>
    </b>

    <div class="row ">
    <div class="col-lg-10 col-sm-6">
      <b><p> Table 1 ONZ class coverage by uni-, bi- and tetramolecular tetrad</p></b>
    </div>

    <div class=" col-lg-2 col-sm-6 saveDataButton">

      <a class="mat-button" csvLink [data]="ELTetradoableOne">Save table</a>
    </div>
    </div>

    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">ONZ</th>
          <th style="text-align: center; vertical-align: middle;">Unimolecular</th>
          <th style="text-align: center; vertical-align: middle;">Bimolecular</th>
          <th style="text-align: center; vertical-align: middle;">Tetramolecular</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of ELTetradoableOne">
          <td style="text-align: center; vertical-align: middle;">{{t.onz}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.unimolecular}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.bimolecular}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.tetramolecular}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row ">
    <div class="col-lg-10 col-sm-6">
      <b><p> Table 2. ONZM class coverage by unimolecular quadruplexes</p></b>
    </div>
    <div class=" col-lg-2 col-sm-6 saveDataButton">
      <a class="mat-button" csvLink [data]="ELTetradoableTwo">Save table</a>
    </div>
    </div>
    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">ONZM</th>
          <th style="text-align: center; vertical-align: middle;">+</th>
          <th style="text-align: center; vertical-align: middle;">-</th>
          <th style="text-align: center; vertical-align: middle;">*</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of ELTetradoableTwo">
          <td style="text-align: center; vertical-align: middle;">{{t.onzm}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.plus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.minus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.star}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row ">
      <div class="col-lg-10 col-sm-6">
        <p> <b> Table 3a. ONZM class coverage by bimolecular quadruplexes</b></p>
      </div>
      <div class=" col-lg-2 col-sm-6 saveDataButton">
        <a class="mat-button" csvLink [data]="ELTetradoableThereA">Save table</a>
      </div>
    </div>
    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">ONZM</th>
          <th style="text-align: center; vertical-align: middle;">+</th>
          <th style="text-align: center; vertical-align: middle;">-</th>
          <th style="text-align: center; vertical-align: middle;">*</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of ELTetradoableThereA">
          <td style="text-align: center; vertical-align: middle;">{{t.onzm}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.plus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.minus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.star}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row ">
      <div class="col-lg-10 col-sm-6">
        <p> <b> Table 3b. ONZM class coverage by tetramolecular quadruplexes</b></p>
      </div>
      <div class=" col-lg-2 col-sm-6 saveDataButton">
        <a class="mat-button" csvLink [data]="ELTetradoableThereB">Save table</a>
      </div>
    </div>
    <div class="col responsive-table">
      <table class="table" style="border:1px solid black;" >
        <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">ONZM</th>
          <th style="text-align: center; vertical-align: middle;">+</th>
          <th style="text-align: center; vertical-align: middle;">-</th>
          <th style="text-align: center; vertical-align: middle;">*</th>
          <th style="text-align: center; vertical-align: middle;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of ELTetradoableThereB">
          <td style="text-align: center; vertical-align: middle;">{{t.onzm}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.plus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.minus}}</td>
          <td style="text-align: center; vertical-align: middle;">{{t.star}}</td>
          <td style="text-align: center; vertical-align: middle;"><b> {{t.total}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>

  </main>
</div>
