<div id="parent">
  <h1 mat-dialog-title>{{ data.attrName }}</h1>
  <div mat-dialog-content>
    <p>Add new condition:</p>
    <div class="formDialog">
      <mat-form-field>
        <mat-label>Enter condition value</mat-label>
        <input [type]="data.inputProperties.type" [min]="data.inputProperties.min" [maxlength]="data.inputProperties.maxLength" matInput [(ngModel)]="value" />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="primary" (click)="onAddClick()" [disabled]="buttonState()">Add</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
  </div>
</div>
